@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Shizuru&display=swap');
// Fonts
$shizuru: 'Shizuru';
$annieUseYourTelescope: 'Annie Use Your Telescope';

// Colors
$white: #ffffff;
$darkBlue: #272a34;
$green: #479b7c;
$red: #9b4747;
